@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=============GLOBAL__STYLES====================*/
body {
  font-family: Manrope, sans-serif;
  font-size: 1rem;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 137.5%; /* 55px/40 */
  color: #000000;
}
.title_center {
  text-align: center;
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 75rem) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}
@media (max-width: 62rem) {
  [class*=__container] {
    max-width: 46.875rem;
  }
}
@media (max-width: 48rem) {
  [class*=__container] {
    max-width: none;
  }
}

.page {
  flex: 1 1 auto;
}

/*=============HEADER====================*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header__container {
  min-height: 6.25rem;
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  row-gap: 0.9375rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (max-width: 48rem) {
  .header__container {
    flex-direction: column;
  }
}
.header__logo {
  font-weight: 800;
  font-size: 1.4375rem;
  line-height: 134.782609%; /* 31px/23 */
  color: #31353b;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.875rem;
  row-gap: 0.3125rem;
}
.menu__link {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 130.769231%; /* 17px/13 */
  color: #000000;
}
.menu__link:hover {
  text-decoration: underline;
}

/*=============PAGE__MAIN====================*/
.page__main {
  margin-bottom: 6.875rem;
}
@media (max-width: 75rem) {
  .page__main {
    margin-bottom: 3.4375rem;
  }
}

.main-block {
  position: relative;
  padding-top: 11.5rem;
}
@media (max-width: 75rem) {
  .main-block {
    padding-top: 5.5rem;
  }
}
@media (max-width: 75rem) {
  .main-block__container {
    padding-bottom: 2.5rem;
  }
}
.main-block__container::after {
  background: #bdccff;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  max-width: 35%;
  height: 100%;
  width: 100%;
}
.main-block__body {
  margin-bottom: 0.875rem;
}
@media (max-width: 75rem) {
  .main-block__body {
    margin-bottom: 2.5rem;
  }
}

.body-main-block {
  position: relative;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 75rem) {
  .body-main-block {
    display: block;
  }
}
.body-main-block__content {
  flex: 0 1 50%;
}
@media (max-width: 75rem) {
  .body-main-block__content {
    margin-bottom: 2.5rem;
  }
}
.body-main-block__slider {
  flex: 0 1 50%;
  min-width: 0;
}
.body-main-block__arrows {
  position: absolute;
  bottom: -3.25rem;
  right: 0;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.body-main-block__arrows.swiper-button-prev,
.body-main-block__arrows .swiper-button-next {
  position: static;
}
.body-main-block__arrow.swiper-button-prev, .body-main-block__arrow.swiper-button-next {
  position: static;
  background: url(/img/page__main/icons/arrow.svg) 0 0/100% no-repeat;
  height: 1.25rem;
  width: 0.6875rem;
}
.body-main-block__arrow.swiper-button-prev {
  transform: rotate(-180deg);
}
.body-main-block__arrow::after {
  display: none;
}

/*=================================*/
.slider-main-block__slide {
  position: relative;
  padding-bottom: 98%;
}
.slider-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=================================*/
.content-main-block {
  padding-top: 2.5rem;
  position: relative;
  z-index: 2;
}
.content-main-block__body {
  padding-right: 5rem;
}
@media (max-width: 75rem) {
  .content-main-block__body {
    padding-right: 0;
  }
}
.content-main-block__subtitle {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 131.818182%; /* 29px/22 */
  color: #ff9900;
  margin-bottom: 1.5rem;
}
.content-main-block__title {
  font-weight: 800;
  font-size: 3.375rem;
  line-height: 135.185185%; /* 73px/54 */
  color: #000000;
  margin-bottom: 1.5rem;
}
@media (max-width: 48rem) {
  .content-main-block__title {
    font-size: 1.875rem;
    line-height: 120%;
  }
}
.content-main-block__text {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 135.294118%; /* 23px/17 */
  letter-spacing: 0.01em;
  color: #31353b;
  margin-bottom: 3rem;
}

/*=================================*/
.form-main-block {
  position: relative;
  display: flex;
  margin-right: -11.75rem;
  z-index: 2;
  background-color: #fff;
  background: #fff url(/img/page__main/icons/house.svg) 33px 32px no-repeat;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}
@media (max-width: 75rem) {
  .form-main-block {
    margin-right: 0;
  }
}
@media (max-width: 48rem) {
  .form-main-block {
    display: block;
  }
}
@media (max-width: 30rem) {
  .form-main-block {
    background: #fff;
  }
}
.form-main-block__input {
  height: 5.375rem;
  font-size: inherit;
  padding-left: 4.625rem;
  border: 1px solid #dadada;
  background-color: transparent;
  width: 100%;
  flex: 1 1 auto;
}
.form-main-block__input::-moz-placeholder {
  font-size: 1.25rem;
  line-height: 135%; /* 27px/20 */
  letter-spacing: 0.01em;
  color: rgba(49, 53, 59, 0.307);
}
.form-main-block__input::placeholder {
  font-size: 1.25rem;
  line-height: 135%; /* 27px/20 */
  letter-spacing: 0.01em;
  color: rgba(49, 53, 59, 0.307);
}
@media (max-width: 30rem) {
  .form-main-block__input {
    padding: 0 0.9375rem;
  }
}
.form-main-block__button {
  height: 5.375rem;
  width: 11.75rem;
  flex: 0 0 11.75rem;
  padding: 0.3125rem 0.9375rem;
  transition: all 0.3s ease 0s;
  background-color: #f85a47;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 135.294118%; /* 23px/17 */
  letter-spacing: 0.01em;
  color: #ffffff;
}
.form-main-block__button:hover {
  background-color: #7b2319;
}
@media (max-width: 48rem) {
  .form-main-block__button {
    width: 100%;
  }
}

/*=================================*/
.partners-main-block {
  max-width: 65%; /* 768px/1170 */
}
@media (max-width: 75rem) {
  .partners-main-block {
    position: relative;
    z-index: 2;
    max-width: none;
  }
}
.partners-main-block__label {
  font-size: 1.0625rem;
  line-height: 135.294118%; /* 23px/17 */
  letter-spacing: 0.01em;
  color: #31353b;
  margin-bottom: 1.6875rem;
}
.partners-main-block__items {
  display: flex;
  flex-wrap: wrap;
  gap: 2.8125rem;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 48rem) {
  .partners-main-block__items {
    justify-content: center;
  }
}
.partners-main-block__item img {
  max-width: 100%;
}

/*===============PAGE__HOW==================*/
.page__how {
  padding: 6.875rem 0;
}
@media (max-width: 48rem) {
  .page__how {
    padding: 3.4375rem 0;
  }
}

.how__title {
  margin-bottom: 4.375rem;
}
@media (max-width: 48rem) {
  .how__title {
    margin-bottom: 2.1875rem;
  }
}
.how__items {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, minmax(auto, 16.25rem));
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  row-gap: 2.8125rem;
  justify-content: space-between;
  padding: 0 2.1875rem;
}
@media (max-width: 48rem) {
  .how__items {
    grid-template-columns: 1fr;
  }
}

.item-how {
  text-align: center;
  display: grid;
  justify-items: center;
  position: relative;
}
.item-how__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 1.25rem;
  margin-bottom: 3.125rem;
}
@media (max-width: 48rem) {
  .item-how__icon {
    margin-bottom: 1.25rem;
  }
}
.item-how__icon::after {
  content: "";
  position: absolute;
  top: 2.5625rem;
  transform: translate(100%);
  width: 100%;
  height: 0.6875rem;
  background: url(/img/page__how/border_1.png) 0 0 no-repeat;
  max-width: 13.125rem;
}
@media (max-width: 75rem) {
  .item-how__icon::after {
    transform: translate(95%);
    width: 70%;
    background: url(/img/page__how/border_1.png) 0 0/70% no-repeat;
  }
}
@media (max-width: 48rem) {
  .item-how__icon::after {
    display: none;
  }
}
.item-how__icon_1 {
  background-color: #9672ff;
  box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}
.item-how__icon_2 {
  background-color: #4ddffd;
  box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}
.item-how__icon_2::after {
  background: url(/img/page__how/border_2.png) 0 0 no-repeat;
}
@media (max-width: 75rem) {
  .item-how__icon_2::after {
    transform: translate(95%);
    width: 70%;
    background: url(/img/page__how/border_2.png) 0 0/70% no-repeat;
  }
}
.item-how__icon_3 {
  background-color: #f2b8ec;
  box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}
.item-how__icon_3::after {
  display: none;
}
.item-how__title {
  margin-bottom: 0.9375rem;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 136.363636%; /* 30px/22 */
  color: #000000;
}
.item-how__text {
  font-size: 1rem;
  line-height: 162.5%; /* 26px/16 */
}

/*===============PAGE__DEALS==================*/
.page__deals {
  padding: 110px 0;
}
@media (max-width: 48rem) {
  .page__deals {
    padding: 3.4375rem 0;
  }
}

.deals__header {
  margin-bottom: 3.125rem;
}

.header-deals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 30rem) {
  .header-deals {
    text-align: center;
  }
}
.header-deals__content {
  flex: 1 1 auto;
}
.header-deals__title {
  margin-bottom: 0.9375rem;
}
.header-deals__text {
  max-width: 29.375rem;
  line-height: 150%; /* 24px/16 */
}
.header-deals__link {
  align-self: flex-start;
  display: inline-block;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 135.294118%; /* 23px/17 */
  text-align: center;
  color: #ffffff;
  padding: 1.375rem 2.0625rem;
  transition: all 0.3s ease 0s;
  background-color: #f85a47;
  cursor: pointer;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
}
@media (max-width: 48rem) {
  .header-deals__link {
    display: block;
    width: 100%;
    margin-bottom: 1.25rem;
  }
}
.header-deals__link:hover {
  background-color: #7b2319;
}

.tabs-deals__nav {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 3.125rem;
       column-gap: 3.125rem;
  row-gap: 0.625rem;
  margin-bottom: 2.8125rem;
}
.tabs-deals__button {
  background-color: transparent;
  position: relative;
  padding-bottom: 0.75rem;
  font-size: 1.1875rem;
  line-height: 136.842105%; /* 26px/19 */
  cursor: pointer;
}
@media (max-width: 30rem) {
  .tabs-deals__button {
    display: block;
    align-content: center;
    margin: 0 auto 1.25rem;
  }
}
.tabs-deals__button.active {
  color: #f85a47;
}
.tabs-deals__button.active::after {
  width: 100%;
}
.tabs-deals__button:hover {
  color: #f85a47;
}
.tabs-deals__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.125rem;
  background-color: #f85a47;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: width 0.3s ease 0s;
}
.tabs-deals__button:hover::after {
  width: 100%;
}
.tabs-deals__item {
  display: none;
}
.tabs-deals__item.active {
  display: block;
}

.item-tabs__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 23.125rem));
  gap: 1.875rem;
}
@media (max-width: 62rem) {
  .item-tabs__items {
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  }
}
.item-tabs__item {
  position: relative;
}
.item-tabs__options {
  display: flex;
  gap: 0.375rem;
  position: absolute;
  left: 0.875rem;
  top: 0.875rem;
  z-index: 1;
}
.item-tabs__option {
  display: block;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 125%; /* 15px/12 */
  text-align: center;
  color: #ffffff;
  padding: 0.375rem;
  transition: background-color 0.3s ease 0s;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.0625rem solid #ffffff;
  border-radius: 0.3125rem;
}
.item-tabs__option:first-child {
  padding: 0.375rem 0.75rem;
}
.item-tabs__option:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.item-tabs__image {
  display: block;
  position: relative;
  padding-bottom: 81%; /*images height / images width*/
  border-radius: 0.3125rem;
  overflow: hidden;
}
.item-tabs__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  transition: transform 0.3s ease 0s;
}
.item-tabs__image:hover img {
  transform: scale(1.1);
}

/*=========================PAGE__FEATURED===============*/
.page__featured {
  padding: 6.875rem 0;
}
@media (max-width: 48rem) {
  .page__featured {
    padding: 3.4375rem 0;
  }
}

.featured__title {
  margin-bottom: 5.9375rem;
}
@media (max-width: 62rem) {
  .featured__title {
    margin-bottom: 3.125rem;
  }
}
.featured__body {
  background-color: #f1ffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 4.8125rem;
       column-gap: 4.8125rem;
  row-gap: 1.875rem;
  padding: 2.5rem 2.5rem 5.125rem 2.5rem;
}
@media (max-width: 62rem) {
  .featured__body {
    grid-template-columns: 1fr;
    align-items: center;
  }
}
.featured__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25.75rem;
}
@media (max-width: 62rem) {
  .featured__content {
    max-width: 100%;
  }
}

.images-featured {
  display: grid;
  justify-items: center;
}
.images-featured__item img {
  max-width: 100%;
}
.images-featured__item_mini {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: -7.125rem;
  filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
}

.content-featured__body {
  display: flex;
  flex-direction: column;
  padding-top: 2.625rem;
}
@media (max-width: 62rem) {
  .content-featured__body {
    align-items: center;
    padding-top: 0;
  }
}
.content-featured__title {
  font-weight: 600;
  font-size: 1.9375rem;
  line-height: 135.483871%; /* 42px/31 */
  color: #000000;
  margin-bottom: 1.75rem;
}
@media (max-width: 62rem) {
  .content-featured__title {
    text-align: center;
  }
}
.content-featured__text {
  max-width: 21.5rem;
  line-height: 150%; /* 24px/16 */
  color: #545a58;
  margin-bottom: 2.625rem;
}
.content-featured__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.1875rem;
  margin-bottom: 3.375rem;
}
@media (max-width: 48rem) {
  .content-featured__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.content-featured__button {
  display: block;
  justify-self: end;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0.3125rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.125rem;
  font-family: Inter;
  font-weight: 500;
  color: #fff;
  background-color: #f85a47;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(248, 90, 71, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(248, 90, 71, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
}
.content-featured__button:hover {
  background-color: #b24034;
}

.list-content-featured__label {
  color: #000;
  font-size: 1.0625rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.list-content-featured__value {
  color: #545a58;
  font-size: 1.0625rem;
}

/*=========================PAGE__REVIEWS===============*/
.simple-rating {
  position: relative;
  font-size: 40px;
  display: inline-block;
}
.simple-rating::before {
  content: "★★★★★";
}
.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.simple-rating__item {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.simple-rating__item:checked, .simple-rating__item:checked ~ .simple-rating__label {
  color: #815006;
}
.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #FBB040;
}
.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}
.simple-rating__label:hover, .simple-rating__label:hover ~ .simple-rating__label, .simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #af7b2d;
}