@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@import "_nullstyle.scss";
/*=============GLOBAL__STYLES====================*/
body {
   font-family: Manrope, sans-serif;
   font-size: 1rem;
}
.wrapper {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.title {
   font-weight: 600;
   font-size: 2.5rem;
   line-height: 137.5%; /* 55px/40 */
   color: #000000;
   &_center {
      text-align: center;
   }
}
[class*="__container"] {
   max-width: 75rem;
   margin: 0 auto;
   padding: 0px 15px;
   @media (max-width: 75rem) {
      max-width: 60.625rem;
   }
   @media (max-width: 62rem) {
      max-width: 46.875rem;
   }
   @media (max-width: 48rem) {
      max-width: none;
   }
}
.page {
   flex: 1 1 auto;
}

/*=============HEADER====================*/
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
   &__container {
      min-height: 6.25rem;
      display: flex;
      column-gap: 0.625rem;
      row-gap: 0.9375rem;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      @media (max-width: 48rem) {
         flex-direction: column;
      }
   }
   &__logo {
      font-weight: 800;
      font-size: 1.4375rem;
      line-height: 134.782609%; /* 31px/23 */
      color: #31353b;
   }
}
.menu {
   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2.875rem;
      row-gap: 0.3125rem;
   }
   &__link {
      font-weight: 700;
      font-size: 0.8125rem;
      line-height: 130.769231%; /* 17px/13 */
      color: #000000;
      &:hover {
         text-decoration: underline;
      }
   }
}

/*=============PAGE__MAIN====================*/
.page {
   &__main {
      margin-bottom: 6.875rem;
      @media (max-width: 75rem) {
         margin-bottom: 3.4375rem;
      }
   }
}
.main-block {
   position: relative;
   padding-top: 11.5rem;
   @media (max-width: 75rem) {
      padding-top: 5.5rem;
   }
   &__container {
      @media (max-width: 75rem) {
         padding-bottom: 2.5rem;
      }
      &::after {
         background: #bdccff;
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         max-width: 35%;
         height: 100%;
         width: 100%;
      }
   }
   &__body {
      margin-bottom: 0.875rem;
      @media (max-width: 75rem) {
         margin-bottom: 2.5rem;
      }
   }
}
.body-main-block {
   position: relative;
   display: flex;
   align-items: flex-start;
   @media (max-width: 75rem) {
      display: block;
   }
   &__content {
      flex: 0 1 50%;
      @media (max-width: 75rem) {
         margin-bottom: 2.5rem;
      }
   }
   &__slider {
      flex: 0 1 50%;
      min-width: 0;
   }
   &__arrows {
      position: absolute;
      bottom: -3.25rem;
      right: 0;
      display: flex;
      align-items: center;
      gap: 2.5rem;
      &.swiper-button-prev,
      .swiper-button-next {
         position: static;
      }
   }
   &__arrow {
      &.swiper-button-prev,
      &.swiper-button-next {
         position: static;
         background: url(../img/page__main/icons/arrow.svg) 0 0 / 100% no-repeat;
         height: 1.25rem;
         width: 0.6875rem;
      }
      &.swiper-button-prev {
         transform: rotate(-180deg);
      }
      &::after {
         display: none;
      }
   }
}

/*=================================*/
.slider-main-block {
   &__slide {
      position: relative;
      padding-bottom: 98%;
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

/*=================================*/
.content-main-block {
   padding-top: 2.5rem;
   position: relative;
   z-index: 2;
   &__body {
      padding-right: 5rem;
      @media (max-width: 75rem) {
         padding-right: 0;
      }
   }
   &__subtitle {
      font-family: "DM Sans";
      font-weight: 700;
      font-size: 1.375rem;
      line-height: 131.818182%; /* 29px/22 */
      color: #ff9900;
      margin-bottom: 1.5rem;
   }
   &__title {
      font-weight: 800;
      font-size: 3.375rem;
      line-height: 135.185185%; /* 73px/54 */
      color: #000000;
      margin-bottom: 1.5rem;
      @media (max-width: 48rem) {
         font-size: 1.875rem;
         line-height: 120%;
      }
   }
   &__text {
      font-weight: 400;
      font-size: 1.0625rem;
      line-height: 135.294118%; /* 23px/17 */
      letter-spacing: 0.01em;
      color: #31353b;
      margin-bottom: 3rem;
   }
}

/*=================================*/
.form-main-block {
   position: relative;
   display: flex;
   margin-right: -11.75rem;
   z-index: 2;
   background-color: #fff;
   background: #fff url(../img/page__main/icons/house.svg) 33px 32px no-repeat;
   box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015),
      0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
   @media (max-width: 75rem) {
      margin-right: 0;
   }
   @media (max-width: 48rem) {
      display: block;
   }
   @media (max-width: 30rem) {
      background: #fff;
   }
   &__input {
      height: 5.375rem;
      font-size: inherit;
      padding-left: 4.625rem;
      border: 1px solid #dadada;
      background-color: transparent;
      width: 100%;
      flex: 1 1 auto;
      &::placeholder {
         font-size: 1.25rem;
         line-height: 135%; /* 27px/20 */
         letter-spacing: 0.01em;
         color: rgba(49, 53, 59, 0.307);
      }
      @media (max-width: 30rem) {
         padding: 0 0.9375rem;
      }
   }
   &__button {
      height: 5.375rem;
      width: 11.75rem;
      flex: 0 0 11.75rem;
      padding: 0.3125rem 0.9375rem;
      transition: all 0.3s ease 0s;
      background-color: #f85a47;
      &:hover {
         background-color: #7b2319;
      }
      cursor: pointer;
      font-weight: 700;
      font-size: 1.0625rem;
      line-height: 135.294118%; /* 23px/17 */
      letter-spacing: 0.01em;
      color: #ffffff;
      @media (max-width: 48rem) {
         width: 100%;
      }
   }
}
/*=================================*/
.partners-main-block {
   max-width: 65%; /* 768px/1170 */
   @media (max-width: 75rem) {
      position: relative;
      z-index: 2;
      max-width: none;
   }
   &__label {
      font-size: 1.0625rem;
      line-height: 135.294118%; /* 23px/17 */
      letter-spacing: 0.01em;
      color: #31353b;
      margin-bottom: 1.6875rem;
   }
   &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 2.8125rem;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 48rem) {
         justify-content: center;
      }
   }
   &__item {
      img {
         max-width: 100%;
      }
   }
}

/*===============PAGE__HOW==================*/
.page {
   &__how {
      padding: 6.875rem 0;
      @media (max-width: 48rem) {
         padding: 3.4375rem 0;
      }
   }
}
.how {
   &__title {
      margin-bottom: 4.375rem;
      @media (max-width: 48rem) {
         margin-bottom: 2.1875rem;
      }
   }
   &__items {
      display: grid;
      align-items: start;
      grid-template-columns: repeat(3, minmax(auto, 16.25rem));
      column-gap: 1.875rem;
      row-gap: 2.8125rem;
      justify-content: space-between;
      padding: 0 2.1875rem;
      @media (max-width: 48rem) {
         grid-template-columns: (1fr);
      }
   }
}
.item-how {
   text-align: center;
   display: grid;
   justify-items: center;
   position: relative;
   &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.625rem;
      height: 5.625rem;
      border-radius: 1.25rem;
      margin-bottom: 3.125rem;
      @media (max-width: 48rem) {
         margin-bottom: 1.25rem;
      }
      &::after {
         content: "";
         position: absolute;
         top: 2.5625rem;
         transform: translate(100%);
         width: 100%;
         height: 0.6875rem;
         background: url(../img/page__how/border_1.png) 0 0 no-repeat;
         max-width: 13.125rem;
         @media (max-width: 75rem) {
            transform: translate(95%);
            width: 70%;
            background: url(../img/page__how/border_1.png) 0 0 / 70% no-repeat;
         }
         @media (max-width: 48rem) {
            display: none;
         }
      }
      &_1 {
         background-color: #9672ff;
         box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481),
            0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815),
            0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
      }
      &_2 {
         background-color: #4ddffd;
         box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481),
            0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035),
            0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
         &::after {
            background: url(../img/page__how/border_2.png) 0 0 no-repeat;
            @media (max-width: 75rem) {
               transform: translate(95%);
               width: 70%;
               background: url(../img/page__how/border_2.png) 0 0 / 70% no-repeat;
            }
         }
      }
      &_3 {
         background-color: #f2b8ec;
         box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481),
            0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035),
            0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815),
            0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
         &::after {
            display: none;
         }
      }
   }
   &__title {
      margin-bottom: 0.9375rem;
      font-weight: 600;
      font-size: 1.375rem;
      line-height: 136.363636%; /* 30px/22 */
      color: #000000;
   }
   &__text {
      font-size: 1rem;
      line-height: 162.5%; /* 26px/16 */
   }
}

/*===============PAGE__DEALS==================*/
.page {
   &__deals {
      padding: 110px 0;
      @media (max-width: 48rem) {
         padding: 3.4375rem 0;
      }
   }
}
.deals {
   &__header {
      margin-bottom: 3.125rem;
   }
}
.header-deals {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   gap: 1.25rem;
   @media (max-width: 30rem) {
      text-align: center;
   }
   &__content {
      flex: 1 1 auto;
   }
   &__title {
      margin-bottom: 0.9375rem;
   }
   &__text {
      max-width: 29.375rem;
      line-height: 150%; /* 24px/16 */
   }
   &__link {
      align-self: flex-start;
      display: inline-block;
      @media (max-width: 48rem) {
         display: block;
         width: 100%;
         margin-bottom: 1.25rem;
      }
      font-weight: 500;
      font-size: 1.0625rem;
      line-height: 135.294118%; /* 23px/17 */
      text-align: center;
      color: #ffffff;
      padding: 1.375rem 2.0625rem;
      transition: all 0.3s ease 0s;
      background-color: #f85a47;
      &:hover {
         background-color: #7b2319;
      }
      cursor: pointer;
      box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
         0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035),
         0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
      border-radius: 5px;
   }
}
.tabs-deals {
   &__nav {
      display: flex;
      flex-wrap: wrap;
      column-gap: 3.125rem;
      row-gap: 0.625rem;
      margin-bottom: 2.8125rem;
   }
   &__button {
      background-color: transparent;
      position: relative;
      padding-bottom: 0.75rem;
      font-size: 1.1875rem;
      line-height: 136.842105%; /* 26px/19 */
      cursor: pointer;
      @media (max-width: 30rem) {
         display: block;
         align-content: center;
         margin: 0 auto 1.25rem;
      }
      &.active {
         color: #f85a47;
         &::after {
            width: 100%;
         }
      }
      &:hover {
         color: #f85a47;
      }
      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 0;
         height: 0.125rem;
         background-color: #f85a47;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
         transition: width 0.3s ease 0s;
      }
      &:hover::after {
         width: 100%;
      }
   }
   &__item {
      display: none;
      &.active {
         display: block;
      }
   }
}
.item-tabs {
   &__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(17.5rem, 23.125rem));
      @media (max-width: 62rem) {
         grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
      }
      gap: 1.875rem;
   }
   &__item {
      position: relative;
   }
   &__options {
      display: flex;
      gap: 0.375rem;
      position: absolute;
      left: 0.875rem;
      top: 0.875rem;
      z-index: 1;
   }
   &__option {
      display: block;
      font-family: "Inter";
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 125%; /* 15px/12 */
      text-align: center;
      color: #ffffff;
      padding: 0.375rem;
      &:first-child {
         padding: 0.375rem 0.75rem;
      }
      transition: background-color 0.3s ease 0s;
      background-color: rgba(0, 0, 0, 0.4);
      &:hover {
         background-color: rgba(0, 0, 0, 0.8);
      }
      border: 0.0625rem solid #ffffff;
      border-radius: 0.3125rem;
   }
   &__image {
      display: block;
      position: relative;
      padding-bottom: 81%; /*images height / images width*/
      border-radius: 0.3125rem;
      overflow: hidden;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         object-fit: cover;
         top: 0;
         left: 0;
         transition: transform 0.3s ease 0s;
      }
      &:hover img {
         transform: scale(1.1);
      }
   }
}

/*=========================PAGE__FEATURED===============*/
.page {
   &__featured {
      padding: 6.875rem 0;
      @media (max-width: 48rem) {
         padding: 3.4375rem 0;
      }
   }
}
.featured {
   &__title {
      margin-bottom: 5.9375rem;
      @media (max-width: 62rem) {
         margin-bottom: 3.125rem;
      }
   }
   &__body {
      background-color: #f1ffff;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 62rem) {
         grid-template-columns: 1fr;
         align-items: center;
      }
      column-gap: 4.8125rem;
      row-gap: 1.875rem;
      padding: 2.5rem 2.5rem 5.125rem 2.5rem;
   }
   &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 25.75rem;
      @media (max-width: 62rem) {
         max-width: 100%;
      }
   }
}
.images-featured {
   display: grid;
   justify-items: center;
   &__item {
      img {
         max-width: 100%;
      }
      &_mini {
         margin-left: 1.25rem;
         margin-right: 1.25rem;
         margin-top: -7.125rem;
         filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04))
            drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704))
            drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963))
            drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02))
            drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037))
            drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963))
            drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
      }
   }
}
.content-featured {
   &__body {
      display: flex;
      flex-direction: column;
      padding-top: 2.625rem;
      @media (max-width: 62rem) {
         align-items: center;
         padding-top: 0;
      }
   }
   &__title {
      font-weight: 600;
      font-size: 1.9375rem;
      line-height: 135.483871%; /* 42px/31 */
      color: #000000;
      margin-bottom: 1.75rem;
      @media (max-width: 62rem) {
         text-align: center;
      }
   }
   &__text {
      max-width: 21.5rem;
      line-height: 150%; /* 24px/16 */
      color: #545a58;
      margin-bottom: 2.625rem;
   }
   &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @media (max-width: 48rem) {
         grid-template-columns: repeat(2, 1fr);
      }
      gap: 2.1875rem;
      margin-bottom: 3.375rem;
   }
   &__button {
      display: block;
      justify-self: end;
      text-transform: uppercase;
      width: 100%;
      border-radius: 0.3125rem;
      padding: 1rem;
      text-align: center;
      font-size: 1.125rem;
      font-family: Inter;
      font-weight: 500;
      color: #fff;
      background-color: #f85a47;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: #b24034;
      }
      box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(248, 90, 71, 0.02),
         0px 8.148148536682129px 6.518518447875977px 0px rgba(248, 90, 71, 0.03),
         0px 20px 13px 0px rgba(248, 90, 71, 0.04),
         0px 38.51852035522461px 25.481481552124023px 0px rgba(248, 90, 71, 0.04),
         0px 64.81481170654297px 46.85185241699219px 0px rgba(248, 90, 71, 0.05),
         0px 100px 80px 0px rgba(248, 90, 71, 0.07);
   }
}
.list-content-featured {
   &__label {
      color: #000;
      font-size: 1.0625rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
   }
   &__value {
      color: #545a58;
      font-size: 1.0625rem;
   }
}

/*=========================PAGE__REVIEWS===============*/
.page {
   &__reviews {
      padding: 6.875rem 0;
      @media (max-width: 48rem) {
         padding: 3.4375rem 0;
      }
   }
}
.reviews {
   &__title {
      max-width: 35.625rem;
      margin-bottom: 3.125rem;
   }
   &__items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(18.125rem, 23.125rem));
      gap: 1.875rem;
   }
   &__item {
      padding: 3.25rem 2.375rem;
      border-radius: 0.625rem;
      border: 1px solid #ebebeb;
      background: #fff;
      transition: all 0.3s ease 0s;
      &:hover {
         border: 1px solid transparent;
         box-shadow: 3px 44px 54px 0px rgba(0, 0, 0, 0.08),
            0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.01),
            0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01),
            0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.02),
            0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
      }
   }
}
.item-reviews {
   &__rating {
      margin-bottom: 2.125rem;
   }
   &__text {
      max-width: 16.875rem;
      line-height: 175%; /* 28px/16 */
      margin-bottom: 3.3125rem;
   }
}
.simple-rating {
   position: relative;
   font-size: 1.5rem;
   display: inline-block;
   &::before {
      content: "★★★★★";
   }
   &__items {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;
   }
   &__item {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      top: 0;
      left: 0;
      &:checked,
      &:checked ~ .simple-rating__label {
         color: #815006;
      }
   }
   &__label {
      flex: 0 0 20%;
      height: 100%;
      cursor: pointer;
      color: #fbb040;
      &::before {
         content: "★";
         display: block;
         transition: color 0.3s ease 0s;
      }
      &:hover,
      &:hover ~ &,
      &:checked ~ &:hover {
         color: #af7b2d;
      }
   }
}
.author-item-reviews {
   display: flex;
   align-items: center;
   gap: 1.25rem;
   &__avatar {
      flex: 0 0 3rem;
      border-radius: 50%;
      overflow: hidden;
      img {
         width: 100%;
      }
   }
   &__name {
      font-weight: 700;
      line-height: 137.5%; /* 22px/16 */
   }
   &__location {
      color: #666;
      font-size: 0.875rem;
      line-height: 135.714286%; /* 19px/14 */
   }
}
.reviews {
   &__footer {
      padding-top: 5.3125rem;
   }
}
.footer-reviews {
   display: flex;
   align-items: center;
   column-gap: 6.75rem;
   @media (max-width: 62rem) {
      flex-wrap: wrap;
      row-gap: 1.875rem;
   }
   &__partners {
      flex: 1 1 auto;
   }
   &__info {
      flex: 0 0 18.75rem;
      font-family: Inter;
      line-height: 150%; /* 24px/16 */
      a {
         text-decoration: underline;
         color: #2cbde7;
         &:hover {
            text-decoration: none;
         }
      }
   }
}
.partners-footer-reviews {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   gap: 1.25rem;
   &__item {
      img {
         width: 100%;
      }
   }
}

/*=========================PAGE__SUBSCRIBE===============*/

.page {
   &__subscribe {
      background-color: #fbfcfc;
      padding: 10rem 0;
      @media (max-width: 48rem) {
         padding: 3.75rem 0;
      }
   }
}
.subscribe {
   &__title {
      text-align: center;
      color: #31353b;
      font-size: 2.8125rem;
      font-weight: 700;
      line-height: 144.2%;
      letter-spacing: 0.0563rem;
      margin-bottom: 0.6875rem;
   }
   &__subtitle {
      text-align: center;
      font-size: 1.4375rem;
      font-weight: 700;
      line-height: 144.2%;
      letter-spacing: 0.0288rem;
      margin-bottom: 2.125rem;
   }
   &__form {
      max-width: 42.875rem;
      min-height: 7.75rem;
      margin: 0 auto;
   }
}
.form-subscribe {
   display: flex;
   gap: 0.9375rem;
   padding: 1.625rem 1.875rem 1.625rem 2.8125rem;
   @media (max-width: 48rem) {
      flex-direction: column;
   }
   background-color: #fff;
   box-shadow: 0px 3.0185184478759766px 3.1481480598449707px 0px rgba(0, 0, 0, 0.01),
      0px 13.281481742858887px 6.518518447875977px 0px rgba(0, 0, 0, 0.02),
      0px 32.599998474121094px 13px 0px rgba(0, 0, 0, 0.02),
      0px 62.785186767578125px 25.481481552124023px 0px rgba(0, 0, 0, 0.02),
      0px 105.64814758300781px 46.85185241699219px 0px rgba(0, 0, 0, 0.03), 0px 163px 80px 0px rgba(0, 0, 0, 0.04);
   &__content {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
   }
   &__label {
      display: block;
      margin-bottom: 0.6875rem;
      color: rgba(49, 53, 59, 0.208);
      font-size: 1.0625rem;
      font-weight: 500;
      line-height: 144.2%;
      letter-spacing: 0.0213rem;
   }
   &__input {
      width: 100%;
      min-height: 1.875rem;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 144.2%;
      letter-spacing: 0.025rem;
   }
   &__button {
      height: 4.5rem;
      background-color: #f85a47;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: #a93c2f;
      }
      padding: 1.4375rem 2.5rem;
      box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(248, 90, 71, 0.02),
         0px 8.148148536682129px 6.518518447875977px 0px rgba(248, 90, 71, 0.03),
         0px 20px 13px 0px rgba(248, 90, 71, 0.04),
         0px 38.51852035522461px 25.481481552124023px 0px rgba(248, 90, 71, 0.04),
         0px 64.81481170654297px 46.85185241699219px 0px rgba(248, 90, 71, 0.05),
         0px 100px 80px 0px rgba(248, 90, 71, 0.07);
      color: #fff;
      font-size: 1.125rem;
      font-family: DM Sans;
      font-weight: 500;
      line-height: 144.2%;
      letter-spacing: 0.0225rem;
      cursor: pointer;
   }
}

/*=========================FOOTER===============*/
.footer {
   &__container {
      display: grid;
      grid-template-columns: auto 1fr;
      max-width: 57.5rem;
      border-top: 1px solid #dedfe1;
      row-gap: 4.375rem;
      column-gap: 1.25rem;
      padding-top: 3.75rem;
      padding-bottom: 2.5rem;
      @media (max-width: 48rem) {
         grid-template-columns: 1fr;
         justify-items: center;
         row-gap: 1.25rem;
         padding-top: 1.875rem;
         padding-bottom: 1.25rem;
      }
   }
   &__logo {
      font-size: 1.4375rem;
      line-height: 1.9375rem;
      font-weight: 800;
   }
   &__menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }
   &__text {
      font-size: 0.75rem;
      line-height: 1rem;
      font-family: DM Sans;
      font-weight: 700;
      @media (min-width: 48rem) {
         grid-column: span 2;
      }
      text-align: center;
   }
}
.menu-footer {
   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 2.875rem;
      row-gap: 0.9375rem;
   }
   &__link {
      font-size: 0.8125rem;
      line-height: 1.0625rem;
      font-family: DM Sans;
      font-weight: 700;
      &:hover {
         text-decoration: underline;
      }
   }
}
