@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@import "_nullstyle.scss";
@import "_variables.scss";

body {
   font-family: Manrope, sans-serif;
   font-size: 1rem;
   color: $primary-color;
}
/*=================================*/
.wrapper {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
/*=================================*/

[class*="__container"] {
   max-width: 75rem;
   margin: 0 auto;
   padding: 0px 15px;
   @media (max-width: 75rem) {
      max-width: 60.625rem;
   }
   @media (max-width: 62rem) {
      max-width: 46.875rem;
   }
   @media (max-width: 48rem) {
      max-width: none;
   }
}
/*=================================*/

.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
   &__container {
      min-height: 6.25rem;
      display: flex;
      column-gap: 0.625rem;
      row-gap: 0.9375rem;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      @media (max-width: 47.9988rem) {
         flex-direction: column;
      }
   }
   &__logo {
      font-weight: 800;
      font-size: 1.4375rem;
      line-height: 134.782609%; /* 31px/23 */
      color: #31353b;
   }
}
/*=================================*/
.menu {
   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2.875rem;
      row-gap: 0.3125rem;
   }
   &__link {
      font-weight: 700;
      font-size: 0.8125rem;
      line-height: 130.769231%; /* 17px/13 */
      color: #000000;
      &:hover {
         text-decoration: underline;
      }
   }
}
/*=================================*/
.page {
   flex: 1 1 auto;   
}
.main-block {
   position: relative;
   padding-top: 11.5rem;
   margin-bottom: 6.875rem;
   @media (max-width: 75rem) {
      padding-top: 5.5rem;
   }
   &__container {
      @media (max-width: 75rem) {
         padding-bottom: 2.5rem;
      }
      &::after {
         background: #bdccff;
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         max-width: 35%;
         height: 100%;
         width: 100%;
      }
   }
   &__body {
      margin-bottom: 0.875rem;
      @media (max-width: 75rem) {
         margin-bottom: 2.5rem;
      }
   }   
}
/*=================================*/
.body-main-block {
   position: relative;
   display: flex;
   align-items: flex-start;
   @media (max-width: 75rem) {
      display: block;
   }
   &__content {
      flex: 0 1 50%;
      @media (max-width: 75rem) {
         margin-bottom: 2.5rem;
      }
   }
   &__slider {
      flex: 0 1 50%;
      min-width: 0;
   }
   &__arrows {
      position: absolute;
      bottom: -3.25rem;
      right: 0;
      display: flex;
      align-items: center;
      gap: 2.5rem;
      &.swiper-button-prev,
      .swiper-button-next {
         position: static;
      }
   }
   &__arrow {
      &.swiper-button-prev,
      &.swiper-button-next {
         position: static;
         background: url(/img/icons/right.svg) 0 0 / 100% no-repeat;
         height: 1.25rem;
         width: 0.6875rem;
      }
      &.swiper-button-prev {
         transform: rotate(-180deg);
      }
      &::after {
         display: none;
      }
   }
}

/*=================================*/
.slider-main-block {
   &__wrapper {
   }
   &__slide {
      position: relative;
      padding-bottom: 98%;
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

/*=================================*/
.content-main-block {
   padding-top: 2.5rem;
   position: relative;
   z-index: 2;
   &__body {
      padding-right: 5rem;
      @media (max-width: 75rem) {
         padding-right: 0;
      }
   }
   &__subtitle {
      font-family: "DM Sans";
      font-weight: 700;
      font-size: 1.375rem;
      line-height: 131.818182%; /* 29px/22 */
      color: #ff9900;
      margin-bottom: 1.5rem;
   }
   &__title {
      font-weight: 800;
      font-size: 3.375rem;
      line-height: 135.185185%; /* 73px/54 */
      color: #000000;
      margin-bottom: 1.5rem;
      @media (max-width: 48rem) {
         font-size: 1.875rem;
         line-height: 120%;
      }
   }
   &__text {
      font-weight: 400;
      font-size: 1.0625rem;
      line-height: 135.294118%; /* 23px/17 */
      letter-spacing: 0.01em;
      color: #31353b;
      margin-bottom: 3rem;
   }
}

/*=================================*/
.form-main-block {
   position: relative;
   display: flex;
   margin-right: -11.75rem;
   z-index: 2;
   background-color: #fff;
   background: #fff url(/img/icons/house.svg) 33px 32px no-repeat;
   box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015),
      0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
   @media (max-width: 75rem) {
      margin-right: 0;
   }
   @media (max-width: 48rem) {
      display: block;
   }
   @media (max-width: 30rem) {
      background: #fff;
   }
   &__input {
      height: 5.375rem;
      font-size: inherit;
      padding-left: 4.625rem;
      border: 1px solid #dadada;
      background-color: transparent;
      width: 100%;
      flex: 1 1 auto;
      &::placeholder {
         font-size: 1.25rem;
         line-height: 135%; /* 27px/20 */
         letter-spacing: 0.01em;
         color: rgba(49, 53, 59, 0.307);
      }
      @media (max-width: 30rem) {
         padding: 0 0.9375rem;
      }
   }
   &__button {
      height: 5.375rem;
      width: 11.75rem;
      flex: 0 0 11.75rem;
      padding: 0.3125rem 0.9375rem;
      background-color: #f85a47;
      cursor: pointer;
      font-weight: 700;
      font-size: 1.0625rem;
      line-height: 135.294118%; /* 23px/17 */
      letter-spacing: 0.01em;
      color: #ffffff;
      @media (max-width: 48rem) {
         width: 100%;
      }
   }
}
/*=================================*/
.partners-main-block {
   max-width: 65%; /* 768px/1170 */
   @media (max-width: 75rem) {
      position: relative;
      z-index: 2;
      max-width: none;
   }
   &__label {
      font-size: 1.0625rem;
      line-height: 135.294118%; /* 23px/17 */
      letter-spacing: 0.01em;
      color: #31353b;
      margin-bottom: 1.6875rem;
   }
   &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 2.8125rem;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 48rem) {
         justify-content: center;
      }
   }
   &__item {
      img {
         max-width: 100%;
      }
   }
}
/*=================================*/
